:root {
    --grid: rgb(128, 128, 128);
}

* {
    margin: 0;
    font-family: 'Courier New';
}

.top-row {
    color: white;
    text-align: center;
    height: 120px;
    vertical-align: middle;
    line-height: 120px;
    font-size: 3em;
    background-color: black;
    text-shadow: 2px 2px 3px rgb(255, 0, 255),
    -2px -2px 3px rgb(0, 255, 0),
    -2px 2px 3px rgb(255, 0, 255),
    2px -2px 3px rgb(0, 255, 0);
    color: rgb(68, 68, 68);
}

body {
    background-color: black;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.board {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 20px solid black;
    position: relative;
}

.square {
    min-width: 200px;
    min-height: 200px;
    color: rgb(68, 68, 68);
    text-shadow: 2px 2px 3px rgb(0, 255, 0),
    -2px -2px 3px rgb(0, 255, 0),
    -2px 2px 3px rgb(0, 255, 0),
    2px -2px 3px rgb(0, 255, 0);
    text-align: center;
    line-height: 200px;
    font-size: 10em;
    font-weight: 500;
    background-color: black;
}


/* lines */
.square[data-square="0"] {
    border-bottom: 10px solid var(--grid);
    border-right: 10px solid var(--grid);
}

.square[data-square="1"] {
    border-bottom: 10px solid var(--grid);
    border-right: 10px solid var(--grid);
    border-left: 10px solid var(--grid);
}

.square[data-square="2"] {
    border-bottom: 10px solid var(--grid);
    border-left: 10px solid var(--grid);
}

.square[data-square="3"] {
    border-top: 10px solid var(--grid);
    border-bottom: 10px solid var(--grid);
    border-right: 10px solid var(--grid);
}

.square[data-square="4"] {
    border-top: 10px solid var(--grid);
    border-bottom: 10px solid var(--grid);
    border-right: 10px solid var(--grid);
    border-left: 10px solid var(--grid);
}

.square[data-square="5"] {
    border-top: 10px solid var(--grid);
    border-bottom: 10px solid var(--grid);
    border-left: 10px solid var(--grid);
}

.square[data-square="6"] {
    border-top: 10px solid var(--grid);
    border-right: 10px solid var(--grid);
}

.square[data-square="7"] {
    border-top: 10px solid var(--grid);
    border-right: 10px solid var(--grid);
    border-left: 10px solid var(--grid);
}

.square[data-square="8"] {
    border-top: 10px solid var(--grid);
    border-left: 10px solid var(--grid);
}

.stroke {
    border: 10px solid rgb(0, 255, 0);
    position: absolute;
    width: 660px;
    display: none;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 255, 0),
    -2px -2px 3px rgb(0, 255, 0),
    -2px 2px 3px rgb(0, 255, 0),
    2px -2px 3px rgb(0, 255, 0);
}

/* Horizontal strokes */
.stroke[data-stroke="0"] {
    left: -20px;
    top: 90px;
}

.stroke[data-stroke="1"] {
    left: -20px;
    top: 310px;
}

.stroke[data-stroke="2"] {
    left: -20px;
    top: 530px;
}

/* Vertical strokes */
.stroke[data-stroke="3"] {
    left: -240px;
    top: 310px;
    transform: rotate(90deg);
}

.stroke[data-stroke="4"] {
    left: -20px;
    top: 310px;
    transform: rotate(90deg);
}

.stroke[data-stroke="5"] {
    left: 200px;
    top: 310px;
    transform: rotate(90deg);
}

/* Diagonal Strokes */
.stroke[data-stroke="6"] {
    left: -140px;
    top: 310px;
    width: 900px;
    transform: rotate(45deg);
}

.stroke[data-stroke="7"] {
    left: -140px;
    top: 310px;
    width: 900px;
    transform: rotate(135deg);
}

@keyframes stroke-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#winner {
    position: absolute;
    width: 640px;
    height: 640px;
    top: -100px;
    text-align: center;
    font-size: 5em;
    color: rgb(68, 68, 68);
    text-shadow: 2px 2px 3px rgb(255, 0, 255),
    -2px -2px 3px rgb(0, 255, 0),
    -2px 2px 3px rgb(255, 0, 255),
    2px -2px 3px rgb(0, 255, 0);
    line-height: 640px;
    display: none;
}

#reset-button {
    color: rgb(68, 68, 68);
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    left: 160px;
    top: 300px;
    border: none;
    outline: none;
    width: 320px;
    height: 65px;
    font-size: 3em;
    display: none;
    border-radius: 200px;
    text-shadow: 1px 1px 2px rgb(255, 0, 255),
    -1px -1px 2px rgb(0, 255, 0),
    -1px 1px 2px rgb(255, 0, 255),
    1px -1px 2px rgb(0, 255, 0);
    box-shadow: 1px 1px 2px rgb(255, 0, 255),
    -1px -1px 2px rgb(0, 255, 0),
    -1px 1px 2px rgb(255, 0, 255),
    1px -1px 2px rgb(0, 255, 0);
}

#reset-button:hover {
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}

@keyframes winner-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes squares-fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}